body {
    background-color:  lemonchiffon;
  }
  
  h1 {
    color: peru;
    margin-left: 20px;
  }

  .footer {
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 50%;
    background-color:   transparent;
    color: white;
    text-align: centre;
  }
  img {
    border-radius: 1%;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }